<ul>
	<% @elements.each do |element| %>
	<li class="list_box">
		<p>
			<%= render "generic", label: element.label, kind: element.kind, content: element.content_string %>
		</p>
	</li>
	<% end %>
</ul>
<ul>
	<% StashElement::CONTENT_TYPES.each do |type| %>
	<li class = "button_box">
		<%= link_to "#{type}", {:action => "add_item", :kind => type} %>
	</li>
	<% end %>
	<li class = "button_box">
		<%= link_to "Finalize Stash", {:action => "finish_post"} %>
	</li>
	<li class = "button_box">
		<%= link_to "Discard Stash", {:action => "cancel_post"} %>
	</li>
</ul>