<ul>
	<% @elements.each do |element| %>
	<li class="list_box">
		<p>
			<%= render "generic", stash_element: element %>
		</p>
	</li>
	<% end %>
</ul>
<div class = "button_list">
	<% StashElement::CONTENT_TYPES.each do |type| %>
	<span class = "button_box">
		<%= link_to (image_tag (asset_path "#{type}.png"), size: 20), controller: 'stash_elements', :action => "new", :kind => type %>
	</span>
	<% end %>
	<span class = "button_box">
		<%= link_to (image_tag (asset_path "save.png"), size: 20), {:action => "finish_post"} %>
	</span>
	<span class = "button_box">
		<%= link_to (image_tag (asset_path "cancel.png"), size: 20), {:action => "cancel_post"} %>
	</span>
</div>