// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.elementimage {
	width: 100%;
	float: left;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

div.button_list {
	margin: 0;
	padding: 0;
	// display: flex;
	justify-content: center;
	align-items: center;
}

div.element_link {
	width: 100%;
}

div.element_file {
	background: black;
}

label.filelabel {
	color: white;
	padding-top: 2%;
	float: right;
}

span.button_box {

	margin: 2%;
	background: black;
	padding: 2%;
	padding-top: 3%;
}